include block/metaData.pug
include block/header.pug
include block/cover.pug
include block/tecnology.pug
include block/feature.pug
include block/timeline.pug
include block/experiencie.pug
include block/definition.pug
include block/footer.pug
script(src='js/main.js', type="text/javascript")