section.cover
	.container
		h2 Front end Developer
		p Hola, soy Jairo, un apasionado desarrollador 
			strong front end 
			|con experiencia trabajando con #[br] diversas agencias y empresas de desarrollo web. Encuentro una gran satisfacción #[br] trabajando en el emocionante mundo del desarrollo web.
figure
	img(src='images/hero-image.png', alt='front end developer')