section.experiencia
    .container.flex
        p 
            span 12 
            | AÑOS DE EXPERIENCIA
        p 
            span 120 
            | PROYECTOS EN DIFERENTES SECTORES
        p 
            span 5 
            | EMPRESAS
.container 
    hr