section.feature
    .container.flex
        figure 
            .vue
                .outer
                .medium
                .inner
        .item-content
            h2 Conocimiento en el Ecosistema Vue.js
            ul.flex
                li Vue CLI
                li Vue Router 
                li Vueprime
                li Pinia
                li Composables
                li Composition API
                li Vuetify
                li Nuxt
                li fetch y axios 