footer 
    .container.flex
        h2 Contáctame
        .item-content
            a(href="tel:+55 56 2031 0453") 56 2031 0453 #[br]#[br]
            a(href="mailto:breakjai@yahoo.com.mx") breakjai@yahoo.com.mx