doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title jairo villalobos | Front end Developer
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel='shortcut icon', type='image/x-icon', href='images/icon.png')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
		link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='descripcion del sitio web')
		meta(property='og:title', content='')
		meta(property='og:site_name', content='')
		meta(property='og:url', content='')
		meta(property='og:description', content='')
		meta(property='og:image', content='')
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content="")
		meta(name="twitter:description" content="")
		meta(name="twitter:image" content="")
	body