doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title jairo villalobos | Front end Developer
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel='shortcut icon', type='image/x-icon', href='images/icon.png')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Productos innovadores de un desarrollador web en México para potenciar tu proyecto. Calidad y eficiencia, ideales para emprendedores digitales y empresas.')
		meta(property='og:title', content='jairo villalobos | Front end Developer')
		meta(property='og:site_name', content=' jaivillalobos.com')
		meta(property='og:url', content=' https://jaivillalobos.com')
		meta(property='og:description', content=' Productos innovadores de un desarrollador web en México para potenciar tu proyecto. Calidad y eficiencia, ideales para emprendedores digitales y empresas.')
	body