section.tecnologias
    .container.flex
        h3 Technologías
        figure.flex
            img(src='images/html5.png', alt='html5' width='82' height='80')
            p HTML y CSS
        figure.flex
            img(src='images/js.png', alt='css3' width='80' height='80')
            p JavaScript
        figure.flex
            img(src='images/ts.svg', alt='css3' width='62' height='62')
            p  Ts
        figure.flex
            img(src='images/seo.png', alt='bootstrap' width='62' height='60')
            p SEO
        figure.flex
            img(src='images/git.svg', alt='bootstrap' width='62' height='60')
            p Git
        figure.flex
            img(src='images/wordpress.png', alt='wordpress' width='67' height='67')
            p Wordpress