section.timeline
	ul
		li(style='--accent-color:#3600E4;')
			.date 2002
			.title Title 1
			.descr
				| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!
		li(style='--accent-color:#3600E4;')
			.date 2007
			.title Title 2
			.descr
				| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum vero nihil veniam.
		li(style='--accent-color:#3600E4;')
			.date 2012
			.title Title 3
			.descr
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum saepe nulla hic.
		li(style='--accent-color:#3600E4;')
			.date 2017
			.title Title 4
			.descr Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.
		li(style='--accent-color:#3600E4;')
			.date 2022
			.title Title 5
			.descr Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.
.container
	hr