section.timeline
	ul
		li(style='--accent-color:#3600E4;')
			.date Actual
			.title Ubbitt
			.descr
				| Creación y mantenimiento de aplicaciones web basadas en las tecnologías más actuales, como Vue.js, JavaScript, HTML y CSS. 
				| Desarrollo de productos que requieren el consumo de endpoints, la maquetación de interfaces y la implementación de gráficos visuales. 
				| Además, incluye el uso de fechas, calendarios y diseños responsive.
		li(style='--accent-color:#3600E4;')
			.date 2016 - 2022
			.title Lunave
			.descr
				| Participación en una agencia digital en la creación de sitios web para marcas como Sobremania, 
				| Papalote Museo del Niño, Toyota, MSD Club Ganadero, Virgin Mobile, Mars, Whiskas Creciendo Juntos, Café Blaso, Lunave.com, y Un Mundo Mejor (Rotoplas).
		li(style='--accent-color:#3600E4;')
			.date 2015 - 2016
			.title Pretech
			.descr
				| Creación de sitios web (maquetados e integración de wordpress) basados en diseños aprobados. como Wayuume, Call Center mexico, Pretech y red de redes.
		li(style='--accent-color:#3600E4;')
			.date 2014 - 2015
			.title Teach and design 
			.descr maquetacion de sitio santander, y landings page de balnco azteca.
		li(style='--accent-color:#3600E4;')
			.date 2013 - 2014
			.title Hacemos Codigo
			.descr Creación de sitios web y mantenimiento (marinter, paty cantu, pata negra, chica fresh).
.container.m
	hr