/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: Black;
	color: white;
	font-family: 'Outfit', sans-serif;
}

:root {
	--outer-w: 49em;
	--outer-h: 40em;
	--medium-w: 32em;
	--medium-h: 26em;
	--inner-w: 16em;
	--inner-h: 13em;
}

.container{
	max-width: 1300px;
	margin: auto;
}
.flex{
	display: flex;
}
figure{
	img{
		width: 100%;
		object-fit: contain;
	}
}
a{
	text-decoration: none;
	color: inherit;
}

strong{
	font-weight: 700;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;}

section.cover{
	text-align: center;
	padding: 40px 20px 40px;
	h2{
		font-size: 4.5rem;
		font-weight: 500;
		line-height: 96px; /* 133.333% */
		letter-spacing: -1.8px;
		margin-bottom: 1.3125rem;
	}
	p{
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 300;
		line-height: 2rem; /* 160% */
	}
}

section.experiencia{
	width: 100%;
	padding: 40px 20px;
	text-align: center;
	.container{
		p{
			display: inline-block;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px; 
			letter-spacing: 0.7px;
			margin-right: 20px;
			span{
				font-size: 60px;
				font-weight: 400;
				line-height: 72px; 
				letter-spacing: -1.5008px;
			}
		}	
	}
}

section.definicion{
	padding: 48px 20px;
	.container{
		flex-wrap: wrap;
	}
	.item-row{
		width: 100%;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	h2{
		font-size: 3.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 4.5rem; /* 120% */
		letter-spacing: -1.5px;
		width: 100%;
		margin-bottom: 5rem;
	}
	article{
		width: 30%;
		padding: 2.5rem;
		border: 1px solid var(--Primary-100, #E6D8CC);
		margin-right: 2rem;
		&:last-child{
			margin-right: 0;
		}
		h3{
			font-family: Outfit;
			font-size: 2.25rem;
			font-style: normal;
			font-weight: 400;
			line-height: 3rem; /* 133.333% */
			margin-bottom: 1rem;
		}
		p{
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 300;
			line-height: 2rem; /* 177.778% */
		}
	}
}

section.tecnologias{
	padding: 80px 20px;
	overflow: hidden;
	h3{
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 32px; /* 133.333% */
		opacity: 0.5;
		transform: rotate(-90deg);
	}
	.container{
		justify-content: space-between; 
		align-items: center;
		figure{
			align-items: center;
			p{
				margin-left: 0.1875rem;
			}
		}
	}

}

section.feature{
	padding: 40px 20px;
	background: radial-gradient(circle at center,#3600e4, Black);
	.container{
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.vue {
		width: var(--outer-w);
		height: var(--outer-h);
		font-size: 6px;
		display: flex;
		justify-content: center;
		position: relative;
		overflow: hidden;
		margin-right: 80px;
		
	}
	.item-content{
		width: 50%;
		h2{
			font-size: 2.25rem;
			font-style: normal;
			font-weight: 400;
			line-height: 72px; /* 120% */
			letter-spacing: -1.5px;
			margin-bottom: 40px;
			font-family: Outfit;
		}
		ul{
			flex-wrap: wrap;
			li{
				font-size: 1.125rem;
				font-style: normal;
				font-weight: 300;
				line-height: 32px; /* 177.778% */
				margin-bottom: 16px;
				padding: 5px 10px;
				border: 1px solid var(--Primary-100, #E6D8CC);
				margin: 10px;
			}
		}
	}
}

.bi-arrow{
	vertical-align: middle;
}

  
/* brand colors from https://brandcolors.net/b/vue-js */
.vue .outer,
.vue .medium,
.vue .inner {
	position: absolute;
	border-style: solid;
	border-color: transparent;
	border-top-width: var(--h);
	border-top-color: var(--c);
	border-left-width: calc(var(--w) / 2);
	border-right-width: calc(var(--w) / 2);
	animation: in-and-out 3s linear infinite;
}

.vue .outer {
	--h: var(--outer-h);
	--w: var(--outer-w);
	--c: #42b883; /* aragon green */
}

.vue .medium {
	--h: var(--medium-h);
	--w: var(--medium-w);
	--c: #35495e; /* derk denim */
	animation-delay: 0.1s;
}

.vue .inner {
	--h: var(--inner-h);
	--w: var(--inner-w);
	--c: black;
	animation-delay: 0.2s;
}

@keyframes in-and-out {
	0%, 5% {
		top: -100%;
	}

	15%, 80% {
		top: 0;
		filter: opacity(1);
		transform: scale(1);
	}

	90%, 100% {
		top: 100%;
		filter: opacity(0);
		transform: scale(0);
	}
}


section.timeline{
	--color: rgba(30, 30, 30);
	--bgColor: rgba(245, 245, 245);
	min-height: 100vh;
	display: grid;
	align-content: center;
	gap: 2rem;
	padding: 40px 20px;
	font-family: "Poppins", sans-serif;
	color: var(--color);

}

ul {
	--col-gap: 2rem;
	--row-gap: 2rem;
	--line-w: 0.25rem;
	display: grid;
	grid-template-columns: var(--line-w) 1fr;
	grid-auto-columns: max-content;
	column-gap: var(--col-gap);
	list-style: none;
	width: min(65rem, 90%);
	margin-inline: auto;
  }
  
  /* line */
  ul::before {
	content: "";
	grid-column: 1;
	grid-row: 1 / span 20;
	background: rgb(225, 225, 225);
	border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  ul li:not(:last-child) {
	margin-bottom: var(--row-gap);
  }
  
  /* card */
  ul li {
	grid-column: 2;
	--inlineP: 1.5rem;
	margin-inline: var(--inlineP);
	grid-row: span 2;
	display: grid;
	grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  ul li .date {
	--dateH: 3rem;
	height: var(--dateH);
	margin-inline: calc(var(--inlineP) * -1);
  
	text-align: center;
	background-color: var(--accent-color);
  
	color: white;
	font-size: 1.25rem;
	font-weight: 700;
  
	display: grid;
	place-content: center;
	position: relative;
  
	border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  ul li .date::before {
	content: "";
	width: var(--inlineP);
	aspect-ratio: 1;
	background: var(--accent-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
	position: absolute;
	top: 100%;
  
	clip-path: polygon(0 0, 100% 0, 0 100%);
	right: 0;
  }
  
  /* circle */
  ul li .date::after {
	content: "";
	position: absolute;
	width: 2rem;
	aspect-ratio: 1;
	background: var(--bgColor);
	border: 0.3rem solid var(--accent-color);
	border-radius: 50%;
	top: 50%;
  
	transform: translate(50%, -50%);
	right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  ul li .title,
  ul li .descr {
	// background: var(--bgColor);
	background-color: rgba(255, 255, 255, .15);
	color: white;
	backdrop-filter: blur(5px);
	position: relative;
	padding-inline: 1.5rem;
  }
  ul li .title {
	overflow: hidden;
	padding-block-start: 1.5rem;
	padding-block-end: 1rem;
	font-weight: 500;
	font-size: 22px;
  }
  ul li .descr {
	padding-block-end: 1.5rem;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
  }
  
  /* shadows */
  ul li .title::before,
  ul li .descr::before {
	content: "";
	position: absolute;
	width: 90%;
	height: 0.5rem;
	background: rgba(0, 0, 0, 0.5);
	left: 50%;
	border-radius: 50%;
	filter: blur(4px);
	transform: translate(-50%, 50%);
  }
  ul li .title::before {
	bottom: calc(100% + 0.125rem);
  }
  
  ul li .descr::before {
	z-index: -1;
	bottom: 0.25rem;
  }
  
